@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* {
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  text-decoration: none;
  outline: none /*Quita el border Del los Inputs (Al dar click) */
}

:root{
  --colorNegro: #000;
  --colorBlanco: #fff;
  --colorGris: rgba(185, 179, 179, 0.461);
  --colorAzul: #055c72;
  --colorVerde: #043944;
  --colorAguaMarina: #16a29f;
}

body {   
  background: rgba(5,7,12,0.75);
  background-image: linear-gradient(rgba(0,0,100,0.5),rgba(0,100,0,0.5)), url("../img/background.jpg");
  background-attachment: fixed;background-size: cover;background-position: center; padding: 0 0 46px;
}

nav {
  position: fixed; z-index: 1;
  width: 100%; height: 5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; gap: 15px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.539);
  color: var(--colorBlanco);
}

.backContainer {
  height: 169px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  justify-items: center;
  align-content: stretch;
}

/*=======================       C A R R I T O   D E   C O M P R A S     =========================*/
#btnShopCart{
  position: absolute;
  width: 9vh;height: 9vh;
  background-color: var(--colorBlanco);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  border-radius: 50px;
  left: 48%;top: 11vh;
  cursor: pointer;
}
#btnShopCart button{cursor: pointer; background-color:transparent; border: none; cursor: pointer;}
#btnShopCart img{width: 45px;padding-right: 5px;}

#ShopCartContent{
    visibility:hidden;
    width: 100vh;padding: 42px 20px;
    box-shadow: 7px 5px 10px var(--colorAzul);
    background: var(--colorBlanco);
    color: var(--colorNegro);
    top: 50%;left: 50%;
    position: absolute;transform: translate(-50%,-50%);
    box-sizing: border-box;
    font-size: 15px;
    gap: 35px;z-index: 1;
}

.titleShoesRecord{text-align: center;}
hr {border: none;border-bottom: 1px solid rgba(9, 9, 9, 0.47);width: 100%;margin-top: 15px;margin-bottom: 15px;}


.productShoesRecord {display: flex;justify-content: space-between;align-items: center; margin-top: 15px;}
#imgShoesRecord{width: 108px;height: 90px;border-radius: 22%;}
#nameShoesRecord{color:#534b4b;font-size: 13px;}
#priceShoesRecord{color:#534b4b;font-size: 13px;}
#amountShoesRecord{color:#534b4b;font-size: 13px; text-align: center;}
#addShoesRecord{width: 25px; background-color:var(--colorAguaMarina);border:none; cursor:pointer}
#eraseShoesRecord{width: 25px; background-color: red; border:none;cursor:pointer}

#closeShoesRecord{
  width: 29px;position: absolute;font-size: 20px;border: none;
  background-color: #666;color: #fff;
  transform: translate(-50, 50%);cursor: pointer;
  top: 4%;left: 88%;
}
/*=======================      B  U  T  T  O  N     =========================*/

.backContainer select {
  width: 40%; height: 45px;
  background-color: var(--colorAzul);
  color: var(--colorBlanco);
  border: none;
  font-size: 16px;
  text-align: center;
}

.backContainer button{
  width: 40%;; height: 45px;
  background-color: var(--colorAguaMarina);
  color: var(--colorBlanco);
  font-size: 16px;
  cursor: pointer;
  border: none;
}

#filterProducts{
  width: 20%; height: 45px;
  position: absolute;
  top: 23vh;
  background-color: var(--colorBlanco);
  color: var(--colorNegro);
  font-size: 16px;
  cursor: pointer;
  border: none;
}

/*==========================================================*/
#AgregarProduct{
  background-color: var(--colorGris);
  width: 400px; height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  gap: 5px;
}

#efecttBlur{
  visibility:hidden;
  position: fixed; z-index: 1;
  top:0px; width: 100%; height:100%;
  backdrop-filter: blur(15px); /* EFECTO BLUR*/
  background-color: rgba(0, 0, 0, 0.21);
}

.placeProducts {
  visibility:hidden;
  width: 60vh; padding: 42px 20px;
  box-shadow: 7px 5px 10px var(--colorAzul);
  background: var(--colorBlanco); color: var(--colorNegro);
  top: 50%; left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  font-size: 15px;
  gap: 35px;
  z-index: 0;
}

#closeContain{
  width: 29px;
  position: absolute;
  font-size: 20px;
  border: none;
  background-color: var(--colorAguaMarina);
  color: #fff;
  transform: translate(-50, 50%);
  cursor: pointer;
  top: 4%;
  left: 88%;
}

.placeProducts h1{
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.placeProducts label{
  display: block;
  padding: 11px 0 8px;
}


.placeProducts input{  
  margin: bottom 20px;
  width: 100%;
  font-size: 15px;
  
}

.placeProducts input[type="text"]{
  border: none;
  border-bottom: 1px solid var(--colorNegro);
  background: transparent;
  height: 40px;
  color: var(--colorNegro);
}


.placeProducts input[type="file"] {  

  margin-top: 4%;
  height: 40px;
  font-size: 15px;
  color: var(--colorBlanco);
  border: none;
}

#btnAddCard{
  border: none;
  outline: none;
  background: #666;
  height: 40px; width: 100%;
  font-size: 18px;
  color: var(--colorBlanco);
  margin-top: 4%;
  cursor: pointer;
}

/*==========================================================*/

main {
  width: 100%;height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;gap: 60px;
  margin-top: 8vh;
}

.deleteCards {
  height: 46px;width: 36px;font-size: 25px;
  position: absolute;
  border: none;
  background-color: transparent;color: #fff;
  box-shadow: 4px 7px 8px #323131;
  transform: translate(123px, 10px);
  cursor: pointer;
}

.card-product {
  width: 38vh;height: 58vh;
  margin-top: 35px;
  border-radius: 15px;
  background-color: var(--colorGris);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.img-product{
  justify-content: center;
  border-radius: 10px 10px 0 0;
  display: flex;
  height: 28vh;width: 100%;
  overflow: hidden;
}

.name-product{
  margin-top: 5vh;
  text-align: center;
  padding: 4px;
  color: var(--colorNegro);
  font-size: 1.5rem;
  font-weight: 600;
}

.price-product{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--colorcafe);
}

.btn-add {
  width: 140px;
  height: 40px;
  color: var(--colorNegro);
  font-size: 20px;
  font-weight: 900;
}

.btn-add:hover{
  cursor: pointer;
  background-color: var(--colorGris);
  border: 1px solid var(--colorNegro);
}


/*==============   M E D I A   Q U E R I S   ==============*/ 
@media (max-width:1400px){
  #btnShopCart {left: 13vh;top: 19vh;}
  #btnShopCart img {width: 32px;padding-right: 6px;}
  .deleteCards {transform: translate(242%, 7%);}
  #closeShoesRecord {left: 92%;}
}


@media (max-width:700px){
  .backContainer {height: 156px;margin-bottom: 77px;}
  .backContainer select{width: 64%;}
  .backContainer button{width: 64%;}
  #filterProducts {top: 33vh;width: 34%;transform: translate(-3%, 50%);}
  #btnShopCart {left: 10%;top: 33vh;height: 11vh;width: 11vh; }
  .placeProducts {width: 50vh;}
  .deleteCards {transform: translate(92px, 10px);}
  .card-product {height: 77vh;width: 52vh;}
  .img-product {height: 34vh;}
  #ShopCartContent {width: 80vh;}
  .imgShoesRecord {width: 75px; height: 75px;}
}


@media (max-width:400px){
  #filterProducts {top: 30vh;}
  #btnShopCart {top: 34vh;}
}





